<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css"/>
    <title>TravelPoint</title>
  </head>
  <body>
    <header>
      <article class="nav-bar-wrapper">
        <article class="logo-wrapper">
          <a href="index.html">TravelPoint</a>
        </article>

        <article class="navigation-wrapper">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="html/regions.html">Regions</a></li>
            <li><a href="html/upload.html">Upload</a></li>
            <li><a href="html/profile.html">Profile</a></li>
            <li><a href="html/admin.html">Admin pannel</a></li>
            <li><a href="html/login.html">Login</a></li>
            <li><a href="html/register.html">Register</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </article>
      </article>

      <article class="hero-section">
        <h1>TravelPoint</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
          ipsam atque incidunt error doloribus, non vero placeat eveniet tempora
          qui ab voluptas facere magnam soluta necessitatibus dolorum quo ipsa
          inventore?
        </p>
      </article>
    </header>

    <main>
      <h3>Choose a region to search for a landmark to visit.</h3>

    </main>

    <footer>
      <p>TravelPoint 2022 &copy all rights reserved.</p> 
    </footer>
  </body>
</html>
